<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--
////////////////////////////
/////// Main Page /////////
///////////////////////////-->

<div id="main-page" class="container-fluid pages">
	<div class="col-xs-12 logo-container">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 logo"></div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 icon-container">
		<div class="to-center">
			<div id="about" class="section-icons"></div>
			<div id="work" class="section-icons"></div>
			<div id="contact" class="section-icons"></div>
		</div>
	</div>
	<div class="col-xs-2 col-xs-offset-5 scroll-container">
		<div class="scroll"></div>
	</div>
</div>

<!--
////////////////////////////
/////// About Page /////////
///////////////////////////-->

<div id="about-page" class="container-fluid pages">
	<div class="col-xs-12 page-header">
		<div class="col-xs-10 col-xs-offset-1 header-container">
			<div id="about-icon" class="icon"></div>
			<div class="header-text"><span>ABOUT ME</div>
		</div>
	</div>
	<div class="info-section">
		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 my-picture">
			<img src="/images/rob.png" />
		</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 header-text">
			<span class="header">Hi, I'm Rob</span>
			<span class="sub-header">JavaScript Junkie, Web Developer, All Around Good Guy!</span>
		</div>
		<div class="col-xs-10 col-xs-offset-1 lower-text">
		<ul>
			<li>
			New Yorker at heart, Engineer by degree, and web developer by passion. I'm a graduate of The Iron Yard code academy, currently residing in beautiful Austin, Texas. At the moment I'm filling my time with coffee binges, late night coding sessions, and keeping up with the latest in the tech community.
			</li>
			<li>
			I do freelance work to give people the beautiful, user-oriented, and functional websites they need. Feel free to contact me and we can grab an obligation-free cup of coffee some time.
			</li>
		</ul>
		</div>
		</div>
	</div>
</div>

<!--
////////////////////////////
/////// Work Page //////////
///////////////////////////-->

<div id="work-page" class="container-fluid pages">
	<div class="col-xs-12 page-header">
		<div class="col-xs-10 col-xs-offset-1 header-container">
			<div id="work-icon" class="icon"></div>
			<div id="work-text" class="header-text"><span>MY PROJECTS</div>
		</div>
	</div>
</div>

<!--
////////////////////////////
////// Contact Page ///////
///////////////////////////-->

<div id="contact-page" class="container-fluid pages">
	<div class="col-xs-12 page-header">
		<div class="col-xs-10 col-xs-offset-1 header-container">
			<div id="contact-icon" class="icon"></div>
			<div id="contact-text" class="header-text"><span>CONTACT ME</div>
		</div>
	</div>
	<div class="center-contacts">
		<div class="bottom-main-image"></div>
		<div class="contact-squares">
			<div class="email">
				<div class="contact-image-container">
					<div class="contact-image"></div>
				</div>
				<div class="bottom-title"><span>dalywebdev@gmail.com</div>
			</div>
			<div class="social-media">
				<div class="social-media-images-container">
					<div class="social-media-images">
						<div class="github"></div>
						<div class="fb"></div>
						<div class="twitter"></div>
					</div>
				</div>
				<div class="bottom-title"><span>SOCIAL MEDIA</span></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>