<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="I'm a freelance Web Developer located in Austin, Texas.   I work on web apps, websites, and mobile apps. Come check out my work.">
	<title><%= title %></title>
	<% if(process.env.NODE_ENV === 'production') { %>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"/>
	<% } else { %>
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/slick-carousel/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/slick-carousel/slick/slick-theme.css"/>
	<% } %>
	<link rel="stylesheet" href="/css/main.css">
	<!-- Favicon Icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="fullpage">
	<!--/////// Home Page ///////-->
	<div id="main-page" class="section container-fluid pages">
		<div id="logo" class="col-xs-12 logo-container">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 logo"></div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 icon-container">
			<div class="to-center">
				<a href="#about-me"><div id="about" class="section-icons"></div></a>
				<a href="#past-work"><div id="work" class="section-icons"></div></a>
				<a href="#contact-me"><div id="contact" class="section-icons"></div></a>
			</div>
		</div>
		<div class="col-xs-2 col-xs-offset-5 scroll-container">
			<a href="#about-me"><div class="scroll"></div></a>
		</div>
	</div>
	<!--/////// About Page ///////-->
	<div id="about-page" class="section container-fluid pages">
		<div class="col-xs-12 page-header">
			<div class="col-xs-10 col-xs-offset-1 header-container">
				<div id="about-icon" class="icon"></div>
				<div class="header-text"><span>ABOUT ME</span></div>
			</div>
		</div>
		<div class="info-section">
			<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 my-picture">
				<img id="my-pic" alt="/images/rob.png" src="/images/rob3.jpg" />
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 header-text">
				<span class="header">Hi, I'm Rob</span>
				<span class="sub-header">JavaScript Junkie, Web Developer, All Around Good Guy!</span>
			</div>
			<div class="col-xs-10 col-xs-offset-1 lower-text">
			<ul>
				<li>
				New Yorker at heart, Engineer by degree, and web developer by passion. I'm a full-time web developer currently residing in beautiful Austin, Texas.
				</li>
				<li>
				I do freelance work to give people the beautiful, user-oriented, and functional websites they need. Feel free to contact me and we can grab an obligation-free cup of coffee some time.
				</li>
			</ul>
			</div>
		</div>
	</div>
	<!--/////// Work Page ///////-->
	<div id="work-page" class="section container-fluid pages">
		<div id="projects-header" class="col-xs-12 page-header">
			<div class="col-xs-10 col-xs-offset-1 header-container">
				<div id="work-icon" class="icon"></div>
				<div id="work-text" class="header-text"><span>MY PROJECTS</span></div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-10 col-lg-offset-1 work-carousel">
			<div class="slide">
				<div class="col-xs-12 col-md-4 project-image-container">
					<div id="iobrew" class="project-image-iobrew"></div>
					<div class="project-link-btns">
						<div class="code-repo">
							<a href="https://github.com/rdaly1490/ioBrew"><div class="code-repo-img"></div></a>
						</div>
						<div class="live-site">
							<a href="https://iobrew.herokuapp.com/"><div class="live-site-img"></div></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-7 project-text">
					<div class="title"><span>ioBrew</span><span class="type">Web App</span></div>
					<ul class="description">
						<li>ioBrew is a webapp I created for keeping track of drinks owed between friends in a fun, social way Some of the features are cross user functionality, achievement tracking, and automatic email reminders, just to name a few. For this project I built out both the frontend and the backend, along with creating the web page's design.</li>
						<li><span class="technologies">Front end:</span><span>React, jQuery, Backbone, Bootstrap</span></li>
						<li><span class="technologies">Back end:</span><span>Node, Express, MongoDB, Mongoose</span></li>
					</ul>
				</div>
			</div>
			<div class="slide">
				<div class="col-xs-12 col-md-4 project-image-container">
					<div id="fitkora" class="project-image-fitkora"></div>
					<div class="project-link-btns">
						<div class="code-repo">
							<a href="https://github.com/rdaly1490/project"><div class="code-repo-img"></div></a>
						</div>
						<div class="live-site">
							<a href="http://fitkora.com/"><div class="live-site-img"></div></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-7 project-text">
					<div class="title"><span>Fitkora</span><span class="type">Website</span></div>
					<ul class="description">
						<li>Fitkora is a freelance project designed for a small business owner. It's hosted on the CloudCannon CMS and I made it editable for my client.</li>
						<li><span class="technologies">Front end:</span><span>jQuery, Bootstrap, Jekyll, CloudCannon CMS</span></li>
					</ul>
				</div>
			</div>
			<div class="slide">
				<div class="col-xs-12 col-md-4 project-image-container">
					<div id="iron" class="project-image-iron"></div>
					<div class="project-link-btns">
						<div class="code-repo">
							<a href="https://github.com/vvj5/ironspiration"><div class="code-repo-img"></div></a>
						</div>
						<div class="live-site">
							<a href="http://ironspiration.herokuapp.com/"><div class="live-site-img"></div></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-7 project-text">
					<div class="title"><span>Ironspiration</span><span class="type">Web App</span></div>
					<ul class="description">
						<li>Ironspiration is a site created during a weekend long hackathon. The site is a place where Iron Yard code school students can post past projects they've completed to give future students ideas and share best practices.</li>
						<li><span class="technologies">Front end:</span><span>React, jQuery, Backbone, Bootstrap</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/////// Contact Page ///////-->
	<div id="contact-page" class="section container-fluid pages">
		<div class="col-xs-12 page-header">
			<div class="col-xs-10 col-xs-offset-1 header-container">
				<div id="contact-icon" class="icon"></div>
				<div id="contact-text" class="header-text"><span>CONTACT ME</span></div>
			</div>
		</div>
		<div class="center-contacts">
			<div class="bottom-main-image"></div>
			<div id="contact-email" class="contact-squares">
				<div class="email">
					<div class="contact-image-container">
						<div class="contact-image"></div>
					</div>
					<div class="bottom-title"><span>dalywebdev@gmail.com</span></div>
				</div>
				<div class="social-media">
					<div class="social-media-images-container">
						<div class="social-media-images">
							<a href="https://github.com/rdaly1490"><div class="github"></div></a>
							<a href="https://www.linkedin.com/in/dalyrobert"><div class="linked-in"></div></a>
							<a href="https://twitter.com/dalywebdev"><div class="twitter"></div></a>
						</div>
					</div>
					<div class="bottom-title"><span>SOCIAL MEDIA</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onclick="document.getElementById('myModal').style.display = 'none'; document.getElementById('vid-to-play').setAttribute('src', '');">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="document.getElementById('myModal').style.display = 'none'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                	<iframe id="vid-to-play" width="100%" height="300" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/bundle.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-67198020-3', 'auto');
	ga('send', 'pageview');
</script>
<script>
function entertainMe(){
    console.log('%cHi I\'m Rob.  I hope you\'re enjoying my site', "color: purple; font-weight: bold");
    document.getElementById('myModal').style.display = 'block';
    document.getElementById('myModal').style.backgroundColor = 'rgba(0,0,0,0.5)';
    document.getElementById('vid-to-play').setAttribute('src', 'https://www.youtube.com/embed/FsqJFIJ5lLs?autoplay=1');
}
</script>
</body>
</html>