
////////////////// Variables ////////////////////


////// Colors ////////

$darkBlue: #34485E;
$lightBlue: #0398B0;
$skyBlue: #E2FEFF;
$yellow: #FFD638;
$red: #E64D3D;
$green: #1BBC9C;
$white: white;
$offBlack: #020202;

////// Fonts ////////

@font-face {
  font-family: 'NexaLight';
  src: url('./fonts/nexa-light/Nexa_Free_Light-webfont.woff2') format('woff2'),
       url('./fonts/nexa-light/Nexa_Free_Light-webfont.woff') format('woff'),
       url('./fonts/nexa-light/Nexa_Free_Light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'NexaBold';
  src: url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.woff2') format('woff2'),
       url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.woff') format('woff'),
       url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand/Quicksand-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/quicksand/Quicksand-Bold.otf') format('truetype');
}

////// Font-Weights ///////

$regular: 400;
$bold: 700;
$light: 300;

/////////////////////////////////////////////////
@-ms-viewport{
  width: device-width;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-size: 16px;
}

.pages {
	height: 100vh;

	//XXXX IMPORTANT XXXX
	// later might need to do something like if viewportHeight > x or media queries
	// in case someone tilts phone to landscape, vh wil probably screw everything up royally.
	// or maybe if screen landscape height: 300vh....
	//XXXX IMPORTANT XXXX
}

a {
	height: 100%;
	width: 100%;
	&:focus {
		outline: 0;
	}
}

///////////////////////////////////////
////////////// Main //////////////////
//////////////////////////////////////

#main-page {
	padding: 4vh 0vh 0vh 0vh;
	background: url('/images/background.png') center no-repeat;
	background-size: cover;
}

.logo-container {
	height: 50%;
	padding-top: 16vh;
}

.logo {
	height: 28vh;
	padding: 0;
	background: url('/images/logo.png') center no-repeat;
	background-size: contain;
}

.icon-container {
	height: 40%;
	margin-top: -1vh;
	padding: 0;
	.to-center {
		text-align: center;
		width: 100%;
		max-width: 240px;
		margin: 0 auto;
		position: relative;
	}
}

.to-center::before {
	content: "";
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to left, rgba(255,255,255, 0) 0%,
	 rgba(255,255,255, 1) 40%, rgba(255,255,255, 1) 60%, rgba(255,255,255,0));
}

.section-icons {
	display: inline-block;
	border-radius: 50%;
	height: 63px;
	width: 63px;
	margin-top: 4vh;
	&:hover {
		cursor: pointer;
	}
}

#about {
	background: url('/images/user.png') center no-repeat;
	background-color: $white;
	margin-right: 10px;
	border: 5px solid $lightBlue;
	float: left;
	&:hover {
		background: url('/images/user-hover.png') center no-repeat;
		background-color: $lightBlue;
	}
}

#work {
	background: url('/images/projects.png') center no-repeat;
	background-color: $white;
	margin-right: 10px;
	border: 5px solid $red;
	text-align: center;
	&:hover {
		background: url('/images/projects-hover.png') center no-repeat;
		background-color: $red;
	}
}

#contact {
	background: url('/images/contact.png') center no-repeat;
	background-color: $white;
	border: 5px solid $green;
	float: right;
	&:hover {
		background: url('/images/contact-hover.png') center no-repeat;
		background-color: $green;
	}
}

.scroll-container {
	height: 10vh;
	.scroll {
		height:100%;
		width: 30px;
		margin: 0 auto;
		background: url('/images/down-arrows.png') center no-repeat;
		background-size: contain;
		&:hover {
			cursor: pointer;
		}
	}
}

///////////////////////////////////////
////////////// About /////////////////
//////////////////////////////////////

#about-page {
	background: url('/images/overlay.png') center no-repeat;
	background-size: cover;
	background-color: $lightBlue;
	padding: 0;
}

.page-header {
	background-color: $white;
	height: 8vh;
	margin: 1px;
	// margin-bottom: 6vh;
	.header-container {
		text-align: center;
		position: relative;
		padding-right: 137px;
		div {
			display: inline-block;
			height: 5vh;
		}
		#about-icon {
			width: 40px;
			background: url('/images/user.png') center no-repeat;
			background-size: contain;
		}
		.icon {
			margin: 7px 5px 0px 5px;
		}
		.header-text {
			position: absolute;
			top: 50%;
			margin-top: -1.4vh;
			font-family: 'NexaBold';
			font-size: 2.8vh;
			color: $lightBlue;
		}
	}
}

.info-section {
	text-align: center;
	.my-picture {
		margin-top: 4vh;
		height: 150px;
		img {
			height: 150px;
			width:150px;
			border-radius: 50%;
		}
	}
	.header-text {
		margin-bottom: 1.8vh;
		span {
			display: block;
		}
		.header {
			font-family: 'Quicksand';
			font-size: 5vh;
			color: $white;
		}
		.sub-header {
			font-family: 'QuicksandBold';
			font-size: 2vh;
			color: $yellow;
		}
	}
	.lower-text {
		ul {
			text-align: left;
			list-style-type: circle;
			padding-left: 5px;
			li {
				margin-top: 1.6vh;
			}
		}
		font-size: 2.3vh;
		color: $white;
		font-family: 'RobotoLight';
		border-top: 1px solid rgba(255, 255, 255, .5);
	}
}

///////////////////////////////////////
////////////// Work //////////////////
//////////////////////////////////////

#work-page {
	background: url('/images/overlay.png') center no-repeat;
	padding: 0px;
	background-size: cover;
	background-color: $red;
}

#work-icon {
	margin-left: -42px;
	width: 40px;
	background: url('/images/projects.png') center no-repeat;
	background-size: contain;
}

#work-text {
	color: $red;
}

.work-carousel {
	height: 85vh;
	padding: 0;
	.slide {
		width: 100%;
		height: 100%;
		text-align: center;
		.project-image-container {
			height: 30vh;
			.project-image-iobrew {
				height: 65%;
				width: 100%;
				margin-top: 2vh;
				background: url('/images/iobrewmobile.png') center no-repeat;
				background-size: contain;
			}
			.project-image-fitkora {
				height: 65%;
				width: 100%;
				margin-top: 2vh;
				background: url('/images/fitkoramobilepic.png') center no-repeat;
				background-size: contain;
			}
			.project-image-iron {
				height: 65%;
				width: 100%;
				margin-top: 2vh;
				background: url('/images/ironmobile.png') center no-repeat;
				background-size: contain;
			}
			.project-link-btns {
				height: 35%;
				width: 100%;
				margin-top: 1vh;
				.code-repo {
					height: 100%;
					width:45%;
					margin-right: 20px;
					display: inline-block;
					.code-repo-img {
						height: 50px;
						width: 50px;
						background: url('/images/git.png') center no-repeat;
						border-radius: 50%;
						border: 1px solid $white;
						float: right;	
						&:hover {
							background-image: url('/images/git-hover.png');
							background-color: $white;
							cursor: pointer;
						}		
					}
				}
				.live-site {
					height: 100%;
					width:45%;
					display: inline-block;
					.live-site-img {
						height: 50px;
						width: 50px;
						background: url('/images/link.png') center no-repeat;
						border-radius: 50%;
						border: 1px solid $white;
						float: left;
						&:hover {
							background-image: url('/images/link-hover.png');
							background-color: $white;
							cursor: pointer;
						}
					}
				}
			}
		}
		.project-text {
			height: 57vh;
			padding: 0px 5px;
			text-align: left;
			.title {
				height: 10%;
				width: 100%;
				font-family: 'Quicksand';
				color: $white;
				font-size: 5vh;
				margin-bottom: 5px;
				span {
					margin-left: 15px;
				}
				.type {
					font-family: 'RobotoBold';
					font-size: 2vh;
					opacity: 0.5;
				}
			}
			.description {
				text-align: left;
				height: 90%;
				width: 100%;
				padding-left: 20px;
				list-style-type: circle;
				li {
					border-top: 1px solid rgba(255,255,255,0.6);
					padding-top: 5px;
					padding-bottom: 5px;
					font-family: 'RobotoLight';
					color: rgba(255,255,255,0.7);
					font-size: 2.3vh;
					span {
						display: block;
					}
					.technologies {
						font-weight: $bold;
						color: $white;
					}
				}
			}
		}
	}
}

#prev-arrow {
	margin-left: 30px;
	height: 50px;
	width: 50px;
	z-index: 1;
}

#next-arrow {
	margin-right: 30px;
	height: 50px;
	width: 50px;
	z-index: 1;
}

.slick-dots {
	li {
		button{
			&::before {
			font-size: 15px;
			}
		}
	}
}

#projects-header {
	margin-bottom: 0vh;
}



///////////////////////////////////////
////////////// Contact ///////////////
//////////////////////////////////////

#contact-page {
	background: url('/images/overlay.png') center no-repeat;
	padding: 0px;
	background-size: cover;
	background-color: $green;
}

#contact-icon {
	margin-left: -42px;
	width: 40px;
	background: url('/images/contact.png') center no-repeat;
	background-size: contain;
}

#contact-text {
	color: $green;
}

.bottom-main-image {
	display: none;
	background: url('/images/developer-on-desk.png') center no-repeat;
	background-size: contain;
}

.center-contacts {
	max-width: 400px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.contact-squares {
	height: 100%;
	width: 200px;
	margin: 0 auto;
	position: relative;
	.email {
		position: absolute;
		top: 32.5vh;
		left: -20px;
		transform: rotate(-4deg);
		z-index: 1;
		background-color: $white;
		height: 17.75vh;
		width: 200px;
		border-radius: 5px;
		.contact-image-container {
			border-left: 2px dashed $red;
			border-right: 2px dashed $red;
			border-top: 2px dashed $red;
			height: 80%;
			padding-top: 4vh;
			.contact-image {
				height: 7vh;
				width: 50px;
				background: url('/images/gmail.png') center no-repeat;
				background-size: contain;
				margin: 0 auto;
			}
		}
		.bottom-title {
			font-family: 'NexaBold';
			font-size: 2vh;
			color: $white;
			text-align: center;
			width: 100%;
			height: 3.7vh;
			line-height: 3.7vh;
			border-radius: 0px 0px 5px 5px;
			background-color: $red;
			span {
				vertical-align: middle;
			}
		}
	}
	.social-media {
		position: absolute;
		top: 48.5vh;
		left: 15px;
		transform: rotate(2deg);
		background-color: $white;
		height: 17.75vh;
		width: 200px;
		border-radius: 5px;
		.social-media-images-container {
			height: 80%;
			padding-top: 4.2vh;
			.social-media-images {
				margin: 0 auto;
				height: 7vh;
				width: 150px;
				.github {
					display: inline-block;
					height: 100%;
					width: 31%;
					background: url('/images/github-social.png') center no-repeat;
					background-size: contain;
					cursor: pointer;
				}
				.fb {
					display: inline-block;
					height: 100%;
					width: 31%;
					background: url('/images/fb-social.png') center no-repeat;
					background-size: contain;
					cursor: pointer;
				}
				.twitter {
					display: inline-block;
					height: 100%;
					width: 31%;
					background: url('/images/twitter-social.png') center no-repeat;
					background-size: contain;
					cursor: pointer;
				}
			}
		}
		.bottom-title {
			font-family: 'NexaBold';
			font-size: 2vh;
			color: $darkBlue;
			text-align: center;
			width: 100%;
			height: 3.7vh;
			background-color: $yellow;
			border-radius: 0px 0px 5px 5px;
			line-height: 3.7vh;
			span {
				vertical-align: middle;
			}
		}
	}
}

////// Media-Queries ///////


///////////////////////////////////////
//////// Main Media Queries //////////
//////////////////////////////////////

@media (min-width: 342px) {
	.icon-container {
		height: 37%;
		margin-top: 0vh;
	}
}

@media (min-width: 490px) {
	#about {
		margin-right: 20px;
	}
	#work {
		margin-right: 20px;
	}
}

///////////////////////////////////////
//////// About Media Queries /////////
//////////////////////////////////////

@media (min-width: 438px) {
	.info-section {
		.header-text {
			.header {
				font-size: 5vh;
			}
			.sub-header {
				font-size: 2.3vh;
			}
		}
		.lower-text {
			font-size: 2.6vh;
		}
	}
}

@media (min-width: 700px) {
	.page-header {
		margin-bottom: 10.5vh;
	}
	.info-section {
		.header-text {
			.header {
				font-size: 7vh;
			}
			.sub-header {
				font-size: 2.3vh;
			}
		}
		.lower-text {
			font-size: 2.3vh;
		}
	}
}

@media (min-width: 1015px) {
	.page-header {
		margin-bottom: 8vh;
	}
	.info-section {
		.header-text {
			.header {
				font-size: 10vh;
			}
			.sub-header {
				font-size: 3.4vh;
			}
		}
		.lower-text {
			font-size: 2.75vh;
		}
	}
}

///////////////////////////////////////
//////// Work Media Queries //////////
//////////////////////////////////////
@media (min-width: 479px) {
	.work-carousel {
		.slide {
			.project-image-container {
				.project-image-iobrew {
					background-size: auto;
				}
				.project-image-fitkora {
					background-size: auto;
				}
				.project-image-iron {
					background-size: auto 28vh;
				}
			}
		}
	}
}

@media (min-width: 544px) {
	.work-carousel {
		.slide {
			.project-image-container {
				.project-image-iobrew {
					margin: 2vh auto;
					max-width: 500px;
				}
				.project-image-fitkora {
					margin: 2vh auto;
					max-width: 500px;
				}
				.project-image-iron {
					margin: 2vh auto;
					max-width: 500px;
				}
			}
			.project-text {
				.title {
					width: 80%;
					margin: 0 auto;
					height: 20%;
					font-size: 8vh;
					.type {
						font-size: 2.5vh;
					}
				}
				.description {
					width: 80%;
					margin: 0 auto;
					height: 80%;
				}
			}
		}
	}
}

@media (min-width: 680px) {
	.work-carousel {
		.slide {
			.project-text {
				.description {
					li {
						font-size: 2.5vh;
					}
				}
			}
		}
	}
}

// here we go to side-by-side divs
@media (min-width: 992px) {
	.work-carousel {
		.slide {
			.project-image-container {
				margin-top: 24vh;
				margin-left: 50px;
				.project-image-iobrew {
					border: 3px solid white;
					border-radius: 5px;
					margin-top: 0vh;
					height: 39vh;
					background-size: 50vh 27vh;
				}
				.project-image-fitkora {
					border: 3px solid white;
					border-radius: 5px;
					margin-top: 0vh;
					height: 39vh;
					background-size: 31vh 12vh;
				}
				.project-image-iron {
					border: 3px solid white;
					border-radius: 5px;
					margin-top: 0vh;
					height: 39vh;
					background-size: 50vh 21vh;
				}
			}
			.project-text {
				margin-top: 19vh;
				.title {
					margin-left: 10px;
					margin-right: 0px;
				}
				.description {
					margin-left: 10px;
					margin-right: 0px;
				}
			}
		}
	}

	#iobrew {
		background-color: #FFEFBC;
	}

	#iron {
		background-color: #353533;
	}
}

@media (min-width: 1200px) {
	.work-carousel {
		.slide {
			.project-image-container {
				margin-left: 8%;
				margin-top: 21vh;
			}
			.project-text {
				margin-top: 16vh;
			}
		}
	}
}

#fitkora {
	background-color: white;
}

///////////////////////////////////////
/////// Contact Media Queries ////////
//////////////////////////////////////

@media (min-width: 700px) {
	.bottom-main-image {
		display: inline-block;
		position: absolute;
		height: 45vh;
		width: 400px;
		top: 28.5vh;
		left: -160px;
	}
	.contact-squares {
		position: static;
		width: 400px;
		.email {
			height: 22.6vh;
			width: 270px;
			top: 31.2vh;
			left: 228px;
			.contact-image-container {
				height: 70%;
				padding-top: 4vh;
				.contact-image {
					height: 60px;
					width: 60px;
				}
			}
			.bottom-title {
				font-size: 2.5vh;
				width: 100%;
				height: 6.75vh;
				line-height: 6.75vh;
				span {
					vertical-align: middle;
				}
			}
		}
		.social-media {
			height: 22.6vh;
			width: 270px;
			top: 52.3vh;
			left: 257px;
			.social-media-images-container {
				height: 70%;
				padding-top: 5.4vh;
				.social-media-images {
					width: 200px;
				}
			}
			.bottom-title {
				font-size: 3vh;
				width: 100%;
				height: 6.75vh;
				line-height: 6.75vh;
				span {
					vertical-align: middle;
				}
			}
		}
	}
}

@media (min-width: 1036px) {
	.bottom-main-image {
		height: 59vh;
		left: -220px;
	}
	.contact-squares {
		position: static;
		width: 400px;
		.email {
			height: 25vh;
			width: 325px;
			top: 31.2vh;
			left: 240px;
			.contact-image-container {
				height: 70%;
				padding-top: 5vh;
			}
			.bottom-title {
				font-size: 3vh;
				width: 100%;
				height: 7.5vh;
				line-height: 7.5vh;
				span {
					vertical-align: middle;
				}
			}
		}
		.social-media {
			height: 25vh;
			width: 325px;
			top: 53.6vh;
			left: 295px;
			.social-media-images-container {
				height: 70%;
				padding-top: 6vh;
				.social-media-images {
					width: 200px;
				}
			}
			.bottom-title {
				font-size: 3vh;
				width: 100%;
				height: 7.5vh;
				line-height: 7.5vh;
				span {
					vertical-align: middle;
				}
			}
		}
	}
}












