
////////////////// Variables ////////////////////


////// Colors ////////

$darkBlue: #34485E;
$lightBlue: #0398B0;
$skyBlue: #E2FEFF;
$yellow: #FFD638;
$red: #E64D3D;
$green: #1BBC9C;
$white: white;
$offBlack: #020202;

////// Fonts ////////

@font-face {
  font-family: 'NexaLight';
  src: url('./fonts/nexa-light/Nexa_Free_Light-webfont.woff2') format('woff2'),
       url('./fonts/nexa-light/Nexa_Free_Light-webfont.woff') format('woff'),
       url('./fonts/nexa-light/Nexa_Free_Light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'NexaBold';
  src: url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.woff2') format('woff2'),
       url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.woff') format('woff'),
       url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand/Quicksand-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/quicksand/Quicksand-Bold.otf') format('truetype');
}

////// Font-Weights ///////

$regular: 400;
$bold: 700;
$light: 300;

/////////////////////////////////////////////////
@-ms-viewport{
  width: device-width;
}


html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-size: 16px;
}

.pages {
	height: 100vh;
	width: 100vw; // do i need these here?
}

///////////////////////////////////////
////////////// Main //////////////////
//////////////////////////////////////

#main-page {
	padding: 20px 0px 0px 0px;
	background: url('/images/background.png') center no-repeat;
	background-size: cover;
}

.logo-container {
	height: 50%;
	padding-top: 115px;
}

.logo {
	height: 200px;
	padding: 0;
	background: url('/images/logo.png') center no-repeat;
	background-size: contain;
}

.icon-container {
	height: 30%;
	margin-top: 30px;
	padding: 0;
	.to-center {
		text-align: center;
		width: 100%;
		max-width: 240px;
		margin: 0 auto;
		position: relative;
	}
}

.to-center::before {
	content: "";
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-image: linear-gradient(to left, rgba(255,255,255, 0) 0%,
	 rgba(255,255,255, 1) 40%, rgba(255,255,255, 1) 60%, rgba(255,255,255,0));
}

.section-icons {
	display: inline-block;
	border-radius: 50%;
	height: 63px;
	width: 63px;
	margin-top: 30px;
	&:hover {
		cursor: pointer;
	}
}

#about {
	background: url('/images/user.png') center no-repeat;
	background-color: $white;
	margin-right: 10px;
	border: 5px solid $lightBlue;
	float: left;
	&:hover {
		background: url('/images/user-hover.png') center no-repeat;
		background-color: $lightBlue;
	}
}

#work {
	background: url('/images/projects.png') center no-repeat;
	background-color: $white;
	margin-right: 10px;
	border: 5px solid $red;
	text-align: center;
	&:hover {
		background: url('/images/projects-hover.png') center no-repeat;
		background-color: $red;
	}
}

#contact {
	background: url('/images/contact.png') center no-repeat;
	background-color: $white;
	border: 5px solid $green;
	float: right;
	&:hover {
		background: url('/images/contact-hover.png') center no-repeat;
		background-color: $green;
	}
}

.scroll-container {
	height: 70px;
	.scroll {
		height:100%;
		width: 30px;
		margin: 0 auto;
		background: url('/images/mouse.png') center no-repeat;
		background-size: contain;
		&:hover {
			cursor: pointer;
		}
	}
}

///////////////////////////////////////
////////////// About /////////////////
//////////////////////////////////////

#about-page {
	background: url('/images/overlay.png') center no-repeat;
	background-size: cover;
	background-color: $lightBlue;
	padding: 0;
}

.page-header {
	background-color: $white;
	height: 55px;
	margin: 1px;
	margin-bottom: 20px;
	.header-container {
		text-align: center;
		position: relative;
		padding-right: 137px;
		div {
			display: inline-block;
			height: 40px;
		}
		#about-icon {
			width: 40px;
			background: url('/images/user.png') center no-repeat;
			background-size: contain;
		}
		.icon {
			margin: 7px 5px 0px 5px;
		}
		.header-text {
			position: absolute;
			top: 50%;
			margin-top: -10px;
			font-family: 'NexaBold';
			font-size: 20px;
			color: $lightBlue;
			span {
				margin-bottom: 10px;
			}
		}
	}
}

.info-section {
	text-align: center;
	.my-picture {
		height: 150px;
		img {
			height: 150px;
			width:150px;
			border-radius: 50%;
		}
	}
	.header-text {
		margin-bottom: 10px;
		span {
			display: block;
		}
		.header {
			font-family: 'Quicksand';
			font-size: 24px;
			color: $white;
		}
		.sub-header {
			font-family: 'QuicksandBold';
			font-size: 14px;
			color: $yellow;
		}
	}
	.lower-text {
		ul {
			text-align: left;
			list-style-type: circle;
			padding-left: 5px;
			li {
				margin-top: 10px;
			}
		}
		font-size: 12px;
		color: $white;
		font-family: 'RobotoLight';
		border-top: 1px solid rgba(255, 255, 255, .5);
	}
}

///////////////////////////////////////
////////////// Work //////////////////
//////////////////////////////////////

#work-page {
	background: url('/images/overlay.png') center no-repeat;
	background-size: cover;
	background-color: $red;
}

///////////////////////////////////////
////////////// Contact ///////////////
//////////////////////////////////////

#contact-page {
	background: url('/images/overlay.png') center no-repeat;
	background-size: cover;
	background-color: $green;
}

////// Media-Queries ///////


///////////////////////////////////////
//////// Main Media Queries //////////
//////////////////////////////////////

// 365px is when logo grows to max width *******
@media (min-width: 342px) {
	.icon-container {
		margin-top: 50px;
		height: 27%;
	}
}

@media (min-width: 490px) {
	#about {
		margin-right: 20px;
	}
	#work {
		margin-right: 20px;
	}
}

///////////////////////////////////////
//////// About Media Queries /////////
//////////////////////////////////////

@media (min-width: 438px) {
	.info-section {
		.header-text {
			.header {
				font-size: 30px;
			}
			.sub-header {
				font-size: 16px;
			}
		}
		.lower-text {
			font-size: 14px;
		}
	}
}

@media (min-width: 700px) {
	.info-section {
		.header-text {
			.header {
				font-size: 50px;
			}
			.sub-header {
				font-size: 16px;
			}
		}
		.lower-text {
			font-size: 16px;
		}
	}
}
