
////////////////// Variables ////////////////////


////// Colors ////////

$darkBlue: #34485E;
$lightBlue: #0398B0;
$skyBlue: #E2FEFF;
$yellow: #FFD638;
$red: #E64D3D;
$green: #1BBC9C;
$white: white;
$offBlack: #020202;

////// Fonts ////////

@font-face {
  font-family: 'NexaLight';
  src: url('./fonts/nexa-light/Nexa_Free_Light-webfont.woff2') format('woff2'),
       url('./fonts/nexa-light/Nexa_Free_Light-webfont.woff') format('woff'),
       url('./fonts/nexa-light/Nexa_Free_Light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'NexaBold';
  src: url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.woff2') format('woff2'),
       url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.woff') format('woff'),
       url('./fonts/nexa-bold/Nexa_Free_Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
}

////// Font-Weights ///////

$regular: 400;
$bold: 700;
$light: 300;

/////////////////////////////////////////////////
body {
	background-color: $darkBlue;
}

.test {
	color: white;
	font-size: 40px;
	font-family: NexaBold;
}





